<!DOCTYPE html>
<html>
    <head>
        <title>Error Page!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/css/airlinestyle.css" />
    </head>
    <body id="mainPage">
        <header id="sectionHead">            
            <h1>Ooops!</h1>            
        </header>
         <figure id="imgTopLeft"><img src="/images/itclogo.png" alt="ITC Logo"/></figure> 
         <figure id="imgTopRight"><img src="/images/airplane.png" alt="Airplane"/></figure>
        {{{body}}}
        
    </body>
</html>
