<div class="inHeader">
    <h1>All Survey Listings.</h1>
</div>

<h2>Here are the items you entered:</h2>
<section id="sectionDisp">
    {{#each dispFrm}}
        <aside class="frmRw">
            <div class="frmLdCl_2">{{@key}}</div>
            <div class="frmCl_2">{{this}}</div>
        </aside>
    {{/each}}
</section>
<h2>shhh!  Take a preview of all the surveys before admin rights are applied!  <a href="/allsurveys">Click here!</a></h2>
<figure id="imgBtmCenter"><img src="/images/flightattendants.png" alt="Flight Attendants"/></figure> 
    