<div class="inHeader">
    <h1>Thank you for your time and input!</h1>
</div>

<h2>Here are the items you entered:</h2>
<section id="sectionForm">
    {{#each dispFrm}}
        <aside class="frmRw">
            <div class="frmLdCl_2">{{@key}}</div>
            <div class="frmCl_2">{{this}}</div>
        </aside>
    {{/each}}
</section>
<figure id="imgBtmCenter"><img src="/images/flightattendants.png" alt="Flight Attendants"/></figure> 
    