<div class="inHeader">
    <h1>We would like you to take our airline survey!</h1>
</div>

<h2>Please press the Take The Survey button below!</h2>
<section id="sectionForm">
    <aside class="gotoBtn">
        <a href="doSurvey" >Take The Survey!</a>
    </aside>
</section>
<figure id="imgBtmCntr"><img src="/images/flightattendant.png" alt="Flight Attendant"/></figure> 
    